

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #444;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #555;
  padding: 0.5em 0;
}

nav a {
  color: #f0f8ff;
  padding: 1em;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd700; /* Gold color on hover */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  align-items: center; 
}

h1 {
  margin-top: 0.1em;
  color: yellow;
  Height: 20px;
}

.header1 {
  width: 90%;
  max-width: 1200px;
  margin: 0.001em auto;
  text-align: center;
}

.movie-image {
  width: 300px;  
  height: 450px; 
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.movie-image:hover {
  transform: scale(1.05);
}

.synopsis, .info {
  text-align: justify;
  padding: 1em;
  color: #444;
  width: 60%;  /* Adjust width for text */
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #444;
  color: #fff;
  margin-top: 2em;
}

.movie-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5em;
  margin-top: 1em;
}

.movie-card {
  width: calc(50% - 1em);
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .movie-card {
    width: calc(33% - 1em);
  }
}

.movie-title {
  font-weight: bold;
  color: #444;
  margin: 0.5em 0;
}
